.bg-home {
  background-color: #ffecd1;
  min-height: calc(100vh - 48px - 180px);
}

.img {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.title-text {
  color: #001524;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
}
